.homeUserCard-Container {
  padding-top:1rem;
  padding-bottom:1rem;
  padding-right:3.3rem;
  padding-left:3.3rem;
  border-radius: 8px;

}
.homeUserCard-Container:hover {
  background-color: rgb(37, 37, 37);
  transition: 0.3s;
}
.cardcontent-Container {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}
.cardinfo-Container {
  display: flex;
  gap: 10%;
}
.cardinfo-Container a {
  text-decoration: none;
}
.testing-something p {

  color: white;
  list-style: none;
  text-decoration: none;
}
.testing-something{

  text-decoration: none;
}
.follow-Button{
  background-color: transparent;
  border: none;
  color: rgb(0, 136, 255);
  font-size:15px;
  font-weight: 500; 
}