.usermeep-Container {
    width: 400px;
    max-width: 400px;
    word-wrap: break-word;
    min-height: 75px;
    height: auto;
    padding: 10px;
    background: transparent;
    border-radius: 10px;

}

.usermeep-Container p {

    color: white;
}

.title-container {
    display: flex;
    gap: 5px;

}

.title {
    margin-left: 10px;
}

.body-container {
    margin-top: 20px;
    padding-left: 37px;
}