.sure {
    color: white;
}

.homemeep-Container {
    margin-top: 50px;
    max-width: fit-content;
    margin-left: 90px;
    margin-right: auto;
    margin-bottom: 80px;
}

.user-list {

    display: flex;
    flex-direction: row;
}

.input-Container {
    width: 100%;

}

.textArea {
    resize: none;

}

.title-Container {
    width: 100%;
}