.sure {
    color: white;
}

.meep-Container {
    margin-top: 50px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.meep-Container input {

    height: 3.5vh;
    padding: 8px;
    width: 21vw;
    border-radius: 7px;
    border: 2px solid #393E46;
    background-color: #272121;
    color: white;
    position: relative;
}

.meep-Container input:hover {

    transform: scale(1.007);

}

.meep-Container button {
    height: 85%;
    width: 5vw;
    background-color: white;
    border-radius: 7px;
    border: none;
    color: black;
    aspect-ratio: 1;
    position: absolute;
    right: 3px;
    top: 8%;
}


.title-Container {
    width: 100%;
}