.notiBar-Content{
width: 44vw;
height: 850px;
max-height: 850px;
color: white;

}

.notiBar-Content h3{
    padding-top: 20px;
    padding-left: 90px;
}
.notification-Container{
    margin: 3%;
    color: white;
}