
.recBar-Container{
width: 46vh;
max-height: 60%;
background-color: black;
color: white;
overflow: scroll;
top:20px;
right: 80px;
}
.recBar-Container h3{
    padding-top: 20px;
    padding-left: 80px;
    padding-bottom: 4%;
}