
.sideBar-Content{
width: 280px;
height: 450px;
margin-left: 20px;
overflow: scroll;
margin-top: 20px;
border-radius: 8px;
background-color: white;
color: black;

   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.sideBar-Content h3{
    padding-top: 20px;
    padding-left: 90px;
}