
.UserFeed-Container{


}
.feedbutton-Container{
        display: flex;
        justify-content: space-evenly;
    
    }
    .feedbutton-Container button{
        background-color: transparent;
         border: none;
        width: 100%;
        height: 50px;
        color: white;
    
        font-size: large;
    }
    .feedbutton-Container button:hover{
    
    background-color:rgba(109, 108, 108, 0.494);
        transition: 1s;
        border: none;
    }
    .feedbutton-Container button:focus{
    
text-decoration: underline;
    text-decoration-color: #0b93f6;
    text-underline-offset:13px ;

    text-decoration-thickness:4px;
    
    }