.avatar{
    width: 160px;
    
    height: 160px;
    max-width: 160px;
    
    max-width: 160px;
    position: relative;
    bottom: 30%;
    left: 2%;
    border-radius: 120px;
    }
    
    .profile-background{
    
        width: 800px;
    height: 200px;
    
    }
    .image-Container{
        display: flex;
        flex-direction: column;
        height: 230px;
        
    }
    
    .userProfile-Container{
    display: flex;
    justify-content: space-between;
    margin-left:5%;
    margin-right:5% ;
    margin-top: 2%;
    }
   .postSubmit-Button{
        
    }
    .meepbutton-Container{
        position: relative;
        display: flex;
        justify-content: space-between;
        margin:4% ;
    }
    .meepImg-Container{
        max-height:200px;
        max-width: 300px;
        margin-left: 10%;
    }
    
    