.sideBar-Container {
    padding: 10px;
    z-index: 1;
    position: fixed;
    height: 100%;
    width: 40px;
    top: 0;
    left: 0;
    border-right: solid 1px rgba(128, 128, 128, .2);
    background-color: #363333;
    display: flex;
    flex-direction: column;
}