.sure {
    color: white;
}

.meep-Container {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;


}

.input-Container {
    width: 100%;

}

.textArea {
    resize: none;

}

.title-Container {
    width: 100%;
}


.homemeep-Container {
    margin-top: 1%;
    height: 800px;
    max-width: fit-content;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    border: solid 1px rgba(246, 233, 233, .35);
    border-radius: 10px;
    padding: 10px;
    overflow: scroll;
    background-color: white;
   display: flex;
   flex-direction: column; 
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.user-list {

    display: flex;
    flex-direction: row;
}
.ref-div{
    width: 300px;
    height: 30px;
}
.AllContent-Container{

display: flex;
}