.sure {
    color: black;
}

.meep-Container {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;


}

.input-Container {
    width: 100%;

}

.textArea {
    resize: none;

}

.title-Container {
    width: 100%;
}


.homemeep-Container {
    height: 100%;
    background-color: black;
    color: white;
   display: flex;
   flex-direction: column; 
}

.user-list {

    display: flex;
    flex-direction: row;
}
.ref-div{
    width: 300px;
    height: 30px;
}
.AllContent-Container{

display: flex;
height: 1080px;
}
.divider{

    border: 5px solid rgb(185, 184, 184);
    opacity: 1;
    z-index: -1;
}
.sideBar-Placeholder{
width: 800px;
height: 100%;
}
