.auth-container {

    margin-top: 50px;
    max-width: fit-content;
    margin-inline: auto;

}

.button-container {
    display: flex;
    gap: 2rem;
    margin-top: 10px;

}

.button-container button {
    height: 85%;
    width: 5vw;
    background-color: #F6E9E9;
    border-radius: 7px;
    border: none;
    color: black;
}

.auth-container input {

    border: 1.5px solid rgba(246, 233, 233, 0.5);
    border-radius: 10px;
    padding: 8px;
}