
.meepfeed-Container{

    margin-top: 10px;

}
.userinfo-Container{
    display: flex;
    justify-content: space-between;

}
.username-Container{
    margin-top:8px ;
    display: inline-flex;
    gap: 8px;
    align-items: center;
    color: white;

}

.username-Container p {
color: lightgray;
font-size: 12px;
}
.meepcontent-Container{
    margin-left: 52px;

}
.meepImages-Container{
display: flex;
    align-self: center;
justify-self: center;
margin-bottom: 20px;
}
.meepImage{
    margin-top:20px ;
    height: 550px;

    width: 450px;
    object-fit: cover;
border-radius: 20px;

}
.interact-Container{

    display: flex;
    margin-top: 10px;
    margin-left:120px ;
    margin-right:120px ;
}
.meepContent-Container{
    display: flex;
}
.meepBody-Container{
    margin-left:10px ;
    
}

.meepBody-Container p {
    margin-top: 2px;
color: white;
}
.meepuseravatar {
    margin-top: 10px;
    margin-left:100px ;
}
.likeCount {
    color: gray;
}