
.userinfo-Container{
    display: flex;
    justify-content: space-between;

}
.username-Container{
    display: inline-flex;
    align-items: center;
    color: white;
    margin: 0;

}
.meepCard-username{
    margin: 0;
}

.username-Container p {
color: lightgray;
font-size: 12px;
margin-left: 0;
}

.username-Container h4 {
    margin: 0;
    margin-left: 10px;
}
.meepcontent-Container{

}
.meepImages-Container{
display: flex;
margin-left: 80px;
}
.meepImage{
    height: 550px;

    width: 450px;
    object-fit: cover;
border-radius: 20px;

}
.interact-Container{

    display: flex;
    margin-top: 10px;
    margin-left:120px ;
    margin-right:120px ;
}
.meepContent-Container{
    display: flex;
    align-items: center;
}
.meepBody-Container{
    margin-left:12px ;
    
}

.meepBody-Container p {
color: white;
text-decoration: none;

}
.meepCard-body {
    margin: 0;
    margin-bottom: 11px;

    margin-left: 72px;
}
.meepuseravatar {
    margin-top: 10px;
}
.likeCount {
    color: gray;
}
.avatar{
    background-color: white;
    padding-left: 100px;
}