
.meepComment-Container{

    margin-top: 20px;

}
.userinfo-Container{
    display: flex;
    justify-content: space-between;
}
.username-Container{
    margin-top:8px ;
    display: inline-flex;
    gap: 8px;
    align-items: center;
    color: white;
}

.username-Container p {
color: lightgray;
font-size: 12px;
}

.meepCommentImages-Container{
display: flex;
    align-self: center;
justify-self: center;
margin-bottom: 20px;
}
.meepCommentImage{
    margin-top:20px ;
    height: 550px;

    width: 450px;
    object-fit: cover;
border-radius: 20px;

}
.interact-Container{

    display: flex;
    justify-content:space-between ;
    margin-bottom:13px ;
}
.meepCommentContent-Container{
    display: flex;
}
.meepCommentBody-Container{
    margin-left:8px ;
    
}

.meepCommentBody-Container p {
    margin-top: 2px;
color: white;
}
.meepCommentLike-Container{
    margin-left: 240px;
}