.meepPostPage-Container{

    height: 80%;
    width: 34vw;
    display: flex;
    margin-top: 60px;
    overflow: hidden;
}
.meepCommentButtons-Container{
    display: flex;
    gap: 280px;
}
.horizontal-divider{

    border: .5px solid rgb(185, 184, 184);

    opacity: .3;
}
.divider{

    border: .5px solid rgb(185, 184, 184);
    opacity: .3;
}
.meepPostAction-Button{
display: flex;
justify-content: space-evenly;


}
.meepPostComment-Container{
    display: flex;
    margin-top:20px;
    margin-left:23px ;
    width: 34vw;
    padding: 0;
}
.meepPostComment-Container textarea {

    height: 30%;
    width: 28vw;
    

background-color: transparent;
border: none;
font-size: 1.25rem;
margin-left:8px ;
overflow-wrap: break-word;
resize: none;
outline: none;
padding: 10px;
color: white;
}
.meepPostComment-Container textarea:focus{

border: none;
}
.meepPostImage-Container{
display: flex;
justify-content: center;

}
.meepPostImage{
    height: 450px;
    width: 400px;
    object-fit: cover;
    border-radius: 20px;
}
.meepPostContent-Container{
    padding-top:20px ;
    padding-left:23px ;
    display:flex;
    align-items: center;
}
.meepPostBody-Container{
    padding-left:83px ;
}

